#landing {
  height: 100vh;
  background-image: url("../../public/background.jpeg");
  .divider {
    overflow: hidden;
    animation: slideDown ease 2s;
    padding: 10px;
    margin: 10px;
    border-right: 3px solid var(--color3);
  }

  .bg {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;    
    height: 100%;
    width: 100%;
    background-color: rgba(48, 71, 94, 0.5);
  }
  .block {
    display: flex;
    flex-direction: row;
    width: 50vw;    
  }

  h1 {
    letter-spacing: 0.15em;
    color: var(--color3);
  }
  .hello {
    opacity: 1;
    text-transform: none;
    margin-top: 20px;
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
  }
  .hello h1 {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    font-family: "Fira Code";
    font-size: 3em;
    color: var(--color2);
    text-transform: none;
    margin: 0px 20px;
    opacity: 1;
  }
  
  .typewriter h1 {
    overflow: hidden;
    width: 100%;
    opacity:0;
    border-right: 0.15em solid var(--color2);
    white-space: nowrap; //content on single line
    letter-spacing: 0.15em;
    font-size: 3em;
    animation: typing 2.5s steps(20, end) 2s, blink-caret 0.75s step-end infinite;
    -webkit-animation: typing 2.5s steps(20, end) 2s,
      blink-caret 0.75s step-end infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
}
