.fade-appear{
  opacity: 0;
  z-index: 1;
}
.fade-appear{
  opacity: 1;
}
.fade-appear-active{
  opacity: 0.5;
  transition: opacity 1000ms linear;
}
.fade-enter{
  opacity: 0;
  z-index: 1;
}
.fade-exit-done{
  opacity: 0;
}
.fadeIn{
  opacity: 0.5;
  transition: opacity 300ms linear;
}
.links {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  
}
.menu{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content:center;
  height: 100vh;
  background-color: var(--background);
  padding: 20px 0px;
  width: 20vw;
  position: fixed;
  left: 0;

  p {
    margin: auto;
    color: var(--color3);
  }
  .presentation,
  .buttons {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 100%;
    margin: 1em 0 1em 0;
  }
  

  .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  .icon {
    margin: 10px 20px;
    flex-grow: 1;
  }
  .icon:hover {
    color: var(--color1);
    transition: 0.3s;
  }
  img {
    border-radius: 50%;
    border: 5px solid rgba(242, 163, 101, 0.5);
  }

  h1 {
    text-align: center;
    color: var(--color2);
    font-size: 1.5em;
  }

  button:focus {
    border: none;
    background-color: var(--background);
  }
  button {
    display: inline-block;
    outline: 0px;
    padding: 0rem 1rem;
    width: 100%;
    height: 50px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--background);
      z-index: -2;
    }
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: darken(#30475e, 15%);
      transition: all 0.3s;
      z-index: -1;
    }
    &:hover {
      color: #fff;
      &:before {
        width: 100%;
      }
    }
  }
}
